{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDB5</title>
    <style>
        img
        {
            width: 500px;
            height: 400px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">

</head>
<body>
    <center>
    <h1 class="btn btn-success">MBD5</h1>
    </center>
    <center>
    <img src="{% static 'images/ani2.jpg' %}" alt="image not found">
    </center>
    <script src="{% static 'js/mdb.es.min.js' %}"></script>
</body>
</html>